
/*Мобилка */
.profile {
  max-width: 880px;
  margin: 0 auto 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
      "avatar"
      "info"
      "add";
  align-items: center;
  grid-gap: 20px;
  justify-items: center;
