.root {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  box-sizing: border-box;
  background-color: #000000;
  margin: 0 27px;
  color: #fff;
}

.header {
  max-width: 880px;
  padding: 0 0 40px;
  border-bottom: 1px solid #545454;;
  margin:  45px auto 40px;
}

.header__logo {
  background-image: url(./images/logo.svg);
  width: 142px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
}

.profile {
  max-width: 880px;
  margin:  0 auto 40px;
  display: grid;
  grid-template-columns: 150px 1fr minmax(auto, 150px);
  grid-template-areas: "avatar info add";
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  grid-area: avatar;
}

.profile__info {
  grid-area: info;
}

.profile__name-area {
  display: flex;
  align-items: center;
}
.profile__name {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 42px;
  line-height: 48px;
}
.profile__edit-button {
  grid-area: edit;
  width: 24px;
  height: 24px;
  margin: 0 20px;
  background: none;
  border: none;
  background-image: url(./images/edit-button.svg);
}
.profile__bio {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  line-height: 22px;
}

.profile__add-button {
  grid-area: add;
  border: 2px solid #fff;
  border-radius: 2px;
  background: none;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 25px;
  justify-self: end;
}

@media (max-width : 680px) {
  .root {
    margin: 0;
  }
  .header {
    margin: 24px 16px 40px;
    padding: 0 0 23px;
  }
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }

  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 1fr;
    gap: 22px;
    justify-items: center;
    grid-template-areas:
        "avatar"
        "info"
        "add";
  }
  .profile__info {
    margin-left: 18px;
  }
  .profile__name-area {
    justify-content: space-between;
  }
  .profile__bio {
    text-align: center;
  }
  .profile__edit-button {
    margin: 0 0 0 10px;
    width: 18px;
    height: 18px;
  }
}


@media (max-width : 570px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    max-width: calc(100vw/2);
  }
  .profile__bio {
    font-size: 14px;
    line-height: 17px;
  }
}
